
<!-- HTML File -->
<!DOCTYPE html>
<html>
<head>
    <title>PBIembed</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Capacity Metrics Analysis for PBI Embedded</h1>

    <!--<button class="textLarge" onclick='show("ReportSection", "People");' style="display: inline-block;">Show Energy</button>-->
    <iframe title="Capacity Metrics Analysis" width="1140" height="541.25" src="https://msit.powerbi.com/reportEmbed?reportId=2c7dcfea-50c6-4a2b-9be9-fa0e930c4bf6&appId=5799c6e9-b22c-4422-b231-28402a6ebd0a&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowFullScreen="true"></iframe>
</html>