<!-- HTML File -->
<!DOCTYPE html>
<html>
<head>
    <title>PBIembed</title>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Hello Power BI Report!</h1>
    <button class="textLarge" onclick='show("ReportSection", "People");' style="display: inline-block;">Show Energy</button>
    <iframe title="random_generated" width="1140" height="541.25" src="https://msit.powerbi.com/reportEmbed?reportId=2cc28a88-0b03-47b2-81f8-cafa852b2774&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowFullScreen="true"></iframe></body>
</html>